.floatLabel {
  display: flex;
  flex-direction: column;
  width: 280px;
  position: relative;
}
.floatLabel:focus-within label {
  transform: translate(0, 12px) scale(0.8);
  color: #000;
}
.floatLabel:focus-within input {
  border-color: #000;
}
.floatLabel input {
  width: 100%;
  height: 40px;
  padding: 20px 0px 0 0;
  outline: 0;
  border-color: #acacac;
  border-style: solid;
  border-width: 0 0 1px 0;
  background: #fff;
}
.floatLabel label {
  padding: 0 12px 0px 0px;
  color: #acacac;
  pointer-events: none;
  position: absolute;
  transform: translate(0, 26px) scale(1);
  transform-origin: top left;
  transition: all 0.2s ease-out;
}
.floatLabel label.active {
  transform: translate(0, 12px) scale(0.8);
  color: #000;
}
